.vscode
Day1/.cache/
Day1/out/

Day2/out/
Day2/.cache/
Day2/.vscode/
Day2/CMakeFiles
Day2/CMakeCache.txt
Day2/compile_commands.json
.vs/
Day2/.vs/

Day3/out/
Day3/.cache/
Day3/.vscode/
Day3/.vs/
Day3/compile_commands.json


Day4/out/
Day4/.cache/
Day4/.vscode/
Day4/compile_commands.json

Day5/out/
Day5/.cache/
Day5/.vscode/
Day5/compile_commands.json
